<a href="https://colab.research.google.com/github/get-programmed/Python_For_Analysis/blob/main/Pandas_Example_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Comman Functions With Example**

In [ ]:
# Import the needed library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

*   pandas: a library used for data manipulation and analysis.
*   numpy: a library used for scientific computing and array operations.
*   matplotlib.pyplot: a library used for creating visualizations.
---
---

In [ ]:
df = pd.read_csv(r"https://raw.githubusercontent.com/rishabhnmishra/Python_Diwali_Sales_Analysis/main/Diwali%20Sales%20Data.csv",header=0,encoding='latin1')

1. `pd.read_csv`: This function from the Pandas library is used to read a CSV file into a DataFrame.

2. r"https://raw.githubusercontent.com/rishabhnmishra/Python_Diwali_Sales_Analysis/main/Diwali%20Sales%20Data.csv": This is the URL of the CSV file that you want to read. The r before the string indicates that it is a raw string, meaning that backslashes are not treated as escape characters.

3. header=0: This argument specifies that the first row of the CSV file contains the column names.

4. encoding='latin1': This argument specifies the character encoding of the CSV file. In this case, it is set to latin1, which is commonly used for data from Western Europe.

---
---


*   A DataFrame is a two-dimensional data structure that stores data in rows and columns(Tabular data).
*   A Data Series is a one-dimensional data structure that stores data in a sequence.



---
---

In [ ]:
#saves the DataFrame df to a CSV file named Diwali_sales.csv. The file will be saved in the current working directory
df.to_csv('Diwali_sales')

Colab AI
The code df.to_csv('Diwali_sales') saves the DataFrame df to a CSV file named Diwali_sales.csv. The file will be saved in the current working directory.

Here's a breakdown of the code:

* `df`: This is the DataFrame you want to save.
* `to_csv`: This is a Pandas DataFrame method that saves the DataFrame to a CSV file.
* `'Diwali_sales'`: This is the filename for the saved CSV file.

By default, the to_csv method will include all columns and rows from the DataFrame. You can customize the output by specifying additional arguments, such as:

* `index`: Whether to include the DataFrame index in the CSV file.
* `header`: Whether to include the column names in the CSV file.
* `columns`: A list of specific columns to include in the CSV file.
* `encoding`: The character encoding to use when saving the CSV file.

---
---

In [ ]:
#For example, to save only the User_ID, Product_ID, and Quantity columns to a CSV file named Diwali_sales_subset.csv, you would use the following code:
df[['User_ID', 'Product_ID']].to_csv('Diwali_sales.csv')

---
---

In [ ]:
df.shape

(11251, 15)


This tells us that the DataFrame has 3 rows and 2 columns.

You can use the `df.shape` attribute to get a quick overview of the size of your DataFrame. This can be helpful when you are working with large datasets and you need to know how many rows and columns you are dealing with.

---
---

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11251 entries, 0 to 11250
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   User_ID           11251 non-null  int64
 1   Cust_name         11251 non-null  object
 2   Product_ID        11251 non-null  object
 3   Gender            11251 non-null  object
 4   Age Group         11251 non-null  object
 5   Age               11251 non-null  int64
 6   Marital_Status    11251 non-null  int64
 7   State             11251 non-null  object
 8   Zone              11251 non-null  object
 9   Occupation        11251 non-null  object
 10  Product_Category  11251 non-null  object
 11  Orders            11251 non-null  int64
 12  Amount            11239 non-null  float64
 13  Status            0 non-null      float64
 14  unnamed1          0 non-null      float64
dtypes: float64(3), int64(4), object(8)
memory usage: 1.3+ MB

The `df.info()` method in Pandas displays a concise summary of the DataFrame, including:

The number of rows and columns
The data type of each column
The number of non-null values in each column
The memory usage of the DataFrame

---
---

In [ ]:
df.describe()

,User_ID,Age,Marital_Status,Orders,Amount,Status,unnamed1
count,1.125100e+04,11251.000000,11251.000000,11251.000000,11239.000000,0.0,0.0
mean,1.003004e+06,35.421207,0.420318,2.489290,9453.610858,NaN,NaN
std,1.716125e+03,12.754122,0.493632,1.115047,5222.355869,NaN,NaN
min,1.000001e+06,12.000000,0.000000,1.000000,188.000000,NaN,NaN
25%,1.001492e+06,27.000000,0.000000,1.500000,5443.000000,NaN,NaN
50%,1.003065e+06,33.000000,0.000000,2.000000,8109.000000,NaN,NaN
75%,1.004430e+06,43.000000,1.000000,3.000000,12675.000000,NaN,NaN
max,1.006040e+06,92.000000,1.000000,4.000000,23952.000000,NaN,NaN

The `df.describe()` method in Pandas generates descriptive statistics for the DataFrame, including:



*   The count of values
*   The mean
*   The standard deviation
*   The minimum value
*   The 25th percentile
*   The 50th percentile (median)
*   The 75th percentile
*   The maximum value
*   List item
*   List item

By default, the df.describe() method only calculates descriptive statistics for the numeric columns in the DataFrame. However, you can also specify which columns to include or exclude using the include and exclude arguments.

---
---

In [ ]:
df.head()

,User_ID,Cust_name,Product_ID,Gender,Age Group,Age,Marital_Status,State,Zone,Occupation,Product_Category,Orders,Amount,Status,unnamed1
0,1002903,Sanskriti,P00125942,F,26-35,28,0,Maharashtra,Western,Healthcare,Auto,1,23952.0,NaN,NaN
1,1000732,Kartik,P00110942,F,26-35,35,1,Andhra Pradesh,Southern,Govt,Auto,3,23934.0,NaN,NaN
2,1001990,Bindu,P00118542,F,26-35,35,1,Uttar Pradesh,Central,Automobile,Auto,3,23924.0,NaN,NaN
3,1001425,Sudevi,P00237842,M,0-17,16,0,Karnataka,Southern,Construction,Auto,2,23912.0,NaN,NaN
4,1000588,Joni,P00057942,M,26-35,28,1,Gujarat,Western,Food Processing,Auto,2,23877.0,NaN,NaN

The `df.head()` method in Pandas returns the first few rows of the DataFrame. By default, it returns the first 5 rows, but you can specify a different number of rows to return using the n argument.

---
---

In [ ]:
# Let's say if you don't want index
df.head(n=5).style.hide_index()

<ipython-input-16-acc3496b6255>:2: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  df.head(n=5).style.hide_index()

The code `df.head(n=5).style.hide_index()` will hide the index for the first 5 rows of the DataFrame df, but it will not permanently remove the index from the DataFrame.

---
---

In [ ]:
ser = df['Cust_name']
print(ser[0:22])

0       Sanskriti
1          Kartik
2           Bindu
3          Sudevi
4            Joni
5            Joni
6            Balk
7        Shivangi
8          Kushal
9           Ginny
10       Harshita
11       Kargatis
12         Elijah
13        Vasudev
14           Cano
15         Lauren
16            Amy
17           Mick
18        Praneet
19        Praneet
20          Ellis
21    Hrisheekesh
Name: Cust_name, dtype: object

`ser = df['Cust_name']`: This line selects the Cust_name column from the DataFrame df and stores it in a new Series object called ser.
`print(ser[0:22])`: This line prints the first 22 elements of the ser Series.

---
---

In [ ]:
df.iloc[3]

User_ID                  1001425
Cust_name                 Sudevi
Product_ID             P00237842
Gender                         M
Age Group                   0-17
Age                           16
Marital_Status                 0
State                  Karnataka
Zone                    Southern
Occupation          Construction
Product_Category            Auto
Orders                         2
Amount                   23912.0
Status                       NaN
unnamed1                     NaN
Name: 3, dtype: object

The `df.iloc[3]` expression in Pandas selects the fourth row of the DataFrame df.


*   `df`: This refers to the DataFrame object itself.
*   `iloc`: This is a method of the DataFrame object that allows you to select data using numerical indices.
*   `[3]`: This is the numerical index of the row you want to select. In Python, indexing starts at 0, so the fourth row has an index of 3.


---
---

In [ ]:
df['Orders'] = df['Orders'].astype(str)
df['Orders']

0        1
1        3
2        3
3        2
4        2
        ..
11246    4
11247    3
11248    4
11249    3
11250    3
Name: Orders, Length: 11251, dtype: object

*   `df['Orders'] = df['Orders'].astype(str)`: This line converts the data type of the Orders column from its original type (which could be integer, float, etc.) to string using the astype(str) method.
*   `df['Orders']`: This line prints the modified Orders column after the data type conversion.



---
---

In [ ]:
# This selects rows from index 6 (inclusive) to index 8 (exclusive).
df['Orders'][6:9]

6    4
7    1
8    2
Name: Orders, dtype: int64

In [ ]:
df[['Orders','Age']]

       Orders  Age
0           1   28
1           3   35
2           3   35
3           2   16
4           2   28
...       ...  ...
11246       4   19
11247       3   33
11248       4   40
11249       3   37
11250       3   19

[11251 rows x 2 columns]

The code `df[['Orders','Age']]` will select the columns named "Orders" and "Age" from the DataFrame df and return a new DataFrame containing only those two columns.

Here's a breakdown of what the code does:

1. Accessing the DataFrame:
* The variable df is assumed to be a reference to a pandas DataFrame object.
---
2. Column Selection:
* `[]`: This is the indexing operator in pandas. It allows you to select specific rows or columns from a DataFrame.
* `['Orders','Age']`: This is a list containing the names of the two columns you want to select.
---
3. Result:
* The code returns a new DataFrame that contains only the "Orders" and "Age" columns from the original DataFrame df.

---
---

In [ ]:
# .loc[0]: This selects the row at index 0 from the resulting DataFrame.
df[['Orders','Age']].loc[0]

Orders     1
Age       28
Name: 0, dtype: int64

In [ ]:
# .squeeze(): This method removes any single-dimensional elements from the DataFrame, resulting in a Series object.
df[['Orders','Age']].loc[0].squeeze()

Orders     1
Age       28
Name: 0, dtype: int64

In [ ]:
df['Orders'].dtypes

dtype('O')

You can use the df['column_name'].dtypes expression to determine the data type of any column in a DataFrame. This can be helpful when you are working with data from different sources and you need to ensure that the data is in the correct format.

---
---

In [ ]:
df.iat[0,2]

'P00125942'

The df.iat[0,2] expression in Pandas selects the element at row 0 and column 2 in the DataFrame df.

*  `df`: This refers to the DataFrame object itself.
*   `iat`: This is a method of the DataFrame object that allows you to select a single element using its numerical index.
*   `[0,2]`: This is a tuple of numerical indices. The first element (0) represents the row index, and the second element (2) represents the column index.

---
---